[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-mail = "*"
python-dotenv = "*"
reportlab = "*"
pypdf2 = "*"

[dev-packages]

[requires]
python_version = "3.11"
